@import url(https://fonts.googleapis.com/css?family=Roboto:300&subset=latin,latin-ext);
.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-button {
    margin-top: 10px !important;
}
body{
    font-family: 'Roboto', sans-serif;
}
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}
input
{
    width:90%;
}
footer{
    color: #848484;
    text-align:center;
}

.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #337ab7;
    background: #FAFAFA;
    background: #FAFAFA;
    background: #FAFAFA;
    color: #337ab7;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.ui-inputfield{
    color: #848484;
    background-color: #FFFFFF;
}

.ui-widget-content .ui-state-default .header {
    border: #337ab7;
    background: #FAFAFA 50% 50% repeat-x;
    background: #337ab7;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.ui-widget-header .ui-state-default {
    border: 0px solid transparent;
    background: #FAFAFA url("/SSMS-PSA_y_Epicrisis-web/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #337ab7;
    font-weight: normal;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1;
    border-radius: 0px;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
}
.footer{
    background-color: #FAFAFA;
    min-height:100px;
    width:100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom:0;
    height:60px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
    border:0px;
    margin:0px;
    padding: 0px;
}
.ui-widget-content{
    border:0px #337ab7!important;
}
